<select [formControl]="select" class="inline-select form-control" id="inlineFormCustomSelect">
  <ng-container *ngIf="options">
    <option *ngFor="let option of options" [value]="option.value">
      <ng-container *ngIf="translateSelector; then selector; else noSelector"></ng-container>
      <ng-template #selector let-translateSelector>
        {{ translateEntry(option.description, translateSelector) }}
      </ng-template>
      <ng-template #noSelector>{{ translateEntry(option.description) }}</ng-template>
    </option>
  </ng-container>
</select>